@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Mulish', sans-serif;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

/*  Navbar section start */
.navigation {
    padding: 30px 0;
}

.full_menu {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    position: relative;
}

.logo {
    transition: all 0.4s;
}

.logo:hover {
    transform: scale(1.05);
}

.logo a {
    text-decoration: none;
    display: flex;
    gap: 15px;
}

.logo a img {}

.logo a h2 {
    color: #131318;
    font-size: 2.1rem;
    font-weight: 800;
}

.logo a h2 span {
    color: #FF5400;
}

label {}

.main_items {}

.main_items ul {
    display: flex;
    list-style: none;
    gap: 25px;
}

.main_itemsul li {}

.main_items ul li a {
    text-decoration: none;
    color: #424247;
    font-size: 1.1rem;
    font-weight: 600;
    transition: all 0.4s;
}

.active {
    color: #FF5400 !important;
}

.main_items ul li a:hover {
    color: #FF5400;
}

#toggle,
.nav_toggle_label {
    display: none;
}

/*  Navbar section end */

/* Banner section start */
.banner {}

.banner_content {
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url(../Images/banner.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 16px;
    padding: 106px 200px;
    text-align: center;

}

.banner_content h2 {
    color: #FFF;
    font-size: 4rem;
    font-weight: 800;
    margin-bottom: 24px;
}

.banner_content p {
    width: 70%;
    margin: 0 auto;
    color: #fff;
    font-size: 1rem;
    margin-bottom: 48px;
}

.banner_input {
    display: inline-flex;
    padding: 16px;
    align-items: flex-start;
    gap: 24px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
}

.labels {
    width: 174px;
    background-color: #fff;
    padding: 16px 10px;
    display: flex;
    justify-content: space-between;
    border-radius: 8px;
    color: rgba(19, 19, 24, 0.50);
}

.labels select {
    outline: none;
    border: none;
    color: rgba(19, 19, 24, 0.50);
    cursor: pointer;
}

.labels option {}

.banner_input input {
    outline: none;
    border: none;
    padding: 16px;
    width: 174px;
    border-radius: 8px;
    color: rgba(19, 19, 24, 0.50);
}

.banner_input .primary_btn {
    padding: 16px 34px;
    border: none;
    border-radius: 8px;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 700;
    background-color: #FF5400;
    color: #fff;
    cursor: pointer;
}

/* Banner section end */